<ngb-alert *ngIf="error" type="danger" (close)="error = null">{{error}}</ngb-alert>
<div class="row">
    <div class="col-md-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >
                    <i class="fa fa-clock-o fa-1x"></i>
                </span>
            </div>
            <ngx-material-timepicker #startPicker></ngx-material-timepicker>
            <input type="text" class="form-control" [format]="24" placeholder="start Range"
                [ngxTimepicker]="startPicker" [formControl]="startTimeControl">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >
                    <i class="fa fa-calendar fa-1x"></i>
                </span>
            </div>
            <input type="text" id="range-datepicker" class="form-control" [formControl]="intervalControl"
                placeholder="2018-10-03 to 2018-10-10" mwlFlatpickr [convertModelValue]="true" mode="range">
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >
                    <i class="fa fa-clock-o fa-1x"></i>
                </span>
            </div>
            <ngx-material-timepicker #endPicker></ngx-material-timepicker>
            <input type="text" class="form-control" [format]="24" placeholder="end Range" [ngxTimepicker]="endPicker"
                [formControl]="endTimeControl">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group mb-3">
            <input type="number" class="form-control" placeholder="Sits" min="1" [formControl]="sitsNumberControl">
        </div>
    </div>
    <div class="col-md-2 mb-3">
        <button class="btn btn-primary" type="button" (click)="refreshData()">
            <i class="fa fa-filter fa-1x"></i>
            Filter
        </button>
    </div>
</div>